{% extends 'index.html' %}
{% block title %}{{ author }} books{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for book in object_list %}
            <div class="col card">
                <h2 class="title">{{ book.title }}</h2>
                <h3>{{ book.released_year }}</h3>
                <p>{{ book.description|slice:30 }}<a href="{% url 'full_desc' book.id %}">...more</a></p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
