{% extends 'index.html' %}
{% block title %}Bookstore{% endblock %}
{% block content %}
<div class="container-fluid">
    <h1>Lists of books</h1>
    <form action="" method="get">
        <input type="text" name="book_title">
        <input type="submit" value="Enter book name">
    </form>
    <div class="row">
        {% for book in books %}
            <div class="col card">
                <h2 class="title">{{ book.title }}</h2>
                <h3>{{ book.released_year }}</h3>
                <p>{{ book.description|slice:30 }}<a href="{% url 'full_desc' book.id %}">...more</a></p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}